{% extends 'registration/registerbase.html' %}

{% load crispy_forms_tags %}
{% block title %}Password Reset Form{% endblock %}
{% block content %}
<h1 class="login-title">Reset Password</h1>
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissable fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>{{message}}</p>
</div>
{% endfor %}
{% endif %}
<div class="card">
  <div class="card-header bg-primary text-white fst-italic fw-bold">
    Reset password
  </div>
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-group pb-4">
        <label for="exampleInputEmail1" class="pb-2">Enter your email address and we will send you a link to reset your password.</label>
        {{form|crispy}}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
  </div>
</div>
{% endblock %}
